<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="http://api.filepicker.io/v1/filepicker.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
    <script type="text/javascript" src="javascripts/main.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Upload a file and edit it!</p>
    <button id="upload" class="btn btn-primary" type="submit">Upload photo</button>
    <br/>
    <img id="photo"></img>
  </body>
</html>